.restaurant-details {
  height: 100vh;
  margin: 0.1rem;
  padding-left: 10rem;
  padding-top: 1rem;
}
.res-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2.8rem;
    line-height: 1.8rem;
    
}
.res-text:hover{
    color: crimson;
}
.menu-container {
  margin: 0.7rem;
  text-align: center;
}
.menu-container button {
  width: 80%;
  background: rgb(243, 187, 198);
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
  border-radius: 0.7rem;
  border: none;
  outline: none;
  font-size: 1rem;
}
.menu-container button:hover {
  background: #db0f24;
background: radial-gradient(circle, rgba(219, 15, 36, 1) 0%, rgba(233, 148, 174, 1) 100%);
transition: 0.3s ease-out;
font-size: 1.2rem;
color: #f7f3f3;
}
/****Menu data- data inside button****/
.menu{
    display: flex;
    margin: 1rem;
    width:70%;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-between;
}
.food{
    width:10rem;
    border-radius: 1rem;
}
